.display {
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: bold;
    font-family: Big Shoulders Display;
}

p {
    font-weight: lighter;
    font-family: Lexend Deca;
    font-size: 15px;
}

.sedans {
    display: flex;
    flex-direction: column;;
    background-color:  hsl(31, 77%, 52%);
}

.suv {
    display: flex;
    flex-direction: column;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 100%, 13%);
}