.display {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 1rem;
    max-width: 8rem;
}

h1 {
    font-weight: bold;
    font-family: Big Shoulders Display;
    color: hsl(0, 0%, 95%);
}

p {
    font-weight: lighter;
    font-family: Lexend Deca;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.sedans {
    display: flex;
    flex-direction: column;;
    background-color:  hsl(31, 77%, 52%);
}

.suv {
    display: flex;
    flex-direction: column;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 100%, 13%);
}